@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap');
@import url('katex/dist/katex.min.css');
@import url('highlight.js/styles/atom-one-light.min.css');


body {
  font-family: 'Tajawal', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* :root {
  --bg-color: #ffffff;
  --text-color: #333333;
}
.dark { 
  --bg-color: #1a202c;
  --text-color: #eceff3;
}  */

/* body {
  @apply bg-skin-base text-skin-base;
} */


/* Start  MarkdownContent.css */
/* إزالة الحدود من عنصر pre */
pre {
  @apply border-none bg-inherit mt-4 mb-4 rounded-xl relative;
}


/* تحسين زر النسخ */
button {
  @apply bg-blue-500 text-white border-none p-1 px-2 rounded cursor-pointer transition duration-300 ease-in-out hover:bg-blue-700;
}

/* أنماط الفيديو لإضافة نسبة العرض إلى الارتفاع */
.video-container {
  @apply relative pb-[56.25%] h-0 overflow-hidden max-w-full bg-black rounded-lg shadow-md;
}

.video-container iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

/* تحسين تصميم الخرائط التفاعلية */
.map-container {
  @apply relative pb-[56.25%] h-0 overflow-hidden max-w-full rounded-lg shadow-md;
}

.map-container iframe {
  @apply absolute top-0 left-0 w-full h-full border-none;
}

/* تحسين تصميم الرسوم البيانية */
.chart-container {
  @apply my-5 p-4 bg-gray-100 rounded-lg shadow-md;
}

/* تحسين النصوص مثل blockquote */
blockquote {
  @apply border-l-4 border-blue-500 pl-4 text-gray-700 italic bg-gray-100 rounded-md my-4;
}

/* تحسين النصوص مثل tip */
tip {
  @apply border-l-4 border-r-4 border-blue-500 pl-4 pr-4 text-gray-700 italic bg-gray-100 rounded-md dark:text-gray-300 dark:bg-gray-700 ;
}

/* تحسين القوائم */
ul, ol {
  @apply pl-5;
}

ul li, ol li {
  @apply mb-2;
}

/* تحسين العناوين */
h1, h2, h3, h4, h5, h6 {
  @apply mt-6 mb-4 font-bold;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

h4 {
  @apply text-base;
}

h5 {
  @apply text-sm;
}

h6 {
  @apply text-xs;
}
/* End MarkdownContent.css */



/* أنماط الرأس */
.header {
  @apply bg-gradient-to-r from-blue-600 to-purple-600 text-white p-4 shadow-lg;
}

/* أنماط التذييل */
.footer {
  @apply bg-gradient-to-r from-blue-800 via-purple-800 to-pink-800 text-white py-10 px-6 shadow-lg;
}

/* أنماط الشريط الجانبي */
.sidebar {
  @apply bg-gradient-to-r h-full from-gray-100 to-gray-200 p-5 min-w-64 max-w-96 w-80 overflow-auto shadow-lg rounded-lg transition-all duration-300 ease-in-out;
}

/* أنماط الصفحة الرئيسية */
.home-container {
  @apply max-w-4xl mx-auto px-4 py-8;
}

/* أنماط صفحة المحتوى */
.content-container {
  @apply mx-auto px-16 py-8  dark:bg-gray-900 dark:text-gray-300;
}
/* أنماط صفحة المحتوى
.content-container-dark {
  @apply  mx-auto px-16 py-8;
} */

/* أنماط صفحة الإعدادات */
.settings-container {
  @apply max-w-md mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 mt-8;
}

/* أنماط أخرى */
.recent-updates {
  @apply bg-white shadow-md rounded-lg p-6;
}

.pagination-container {
  @apply flex justify-between items-center mt-12 mb-8;
}

.pagination-button {
  @apply flex items-center p-4 bg-gradient-to-r text-white rounded-lg hover:from-blue-600 hover:to-purple-600 transition-all duration-300 transform hover:scale-105 shadow-md;
}

.pagination-button-previous {
  @apply from-blue-500 to-purple-500;
}

.pagination-button-next {
  @apply from-purple-500 to-pink-500;
}

.scroll-buttons {
  @apply fixed bottom-4 left-4 flex flex-col space-y-4 transition-opacity duration-300;
}

.scroll-button {
  @apply p-3 bg-gradient-to-r text-white rounded-full shadow-lg transition-all transform hover:scale-110;
}

.scroll-button-top {
  @apply from-green-400 to-blue-500 hover:from-green-500 hover:to-blue-600;
}

.scroll-button-bottom {
  @apply from-purple-400 to-pink-500 hover:from-purple-500 hover:to-pink-600;
}

.social-share {
  @apply flex flex-wrap gap-4;
}

.social-share-button {
  @apply flex items-center justify-center space-x-2 text-white p-3 rounded-full shadow-lg transition-all duration-300 transform hover:scale-110 hover:shadow-xl;
}

.social-share-button-edit {
  @apply bg-green-600 hover:bg-green-700;
}

.social-share-button-fork {
  @apply bg-purple-600 hover:bg-purple-700;
}

.social-share-button-github {
  @apply bg-gray-800 hover:bg-gray-700;
}

.social-share-button-print {
  @apply bg-yellow-600 hover:bg-yellow-700;
}

.social-share-button-pdf {
  @apply bg-red-600 hover:bg-red-700;
}

.social-share-button-facebook {
  @apply bg-blue-600 hover:bg-blue-700;
}

.social-share-button-twitter {
  @apply bg-blue-400 hover:bg-blue-500;
}

.social-share-button-linkedin {
  @apply bg-blue-700 hover:bg-blue-800;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

body.dark {
  @apply bg-gray-900 text-gray-100;
}

