@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('katex/dist/katex.min.css');
@import url('highlight.js/styles/github.css');

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
}

.dark {
  --bg-color: #1a202c;
  --text-color: #e2e8f0;
}

body {
  @apply bg-skin-base text-skin-base;
}
pre {
  direction: ltr;
}